body {
  min-height: 100vh;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 10%;
  height: 130px;
  margin-block: auto;
}

.nav-title {
  font-weight: 800;
  font-size: 28px;
}

/* button */
.btn-primary {
  padding: 17px 24px;
  border-radius: 8px;
  font-weight: 600;
  background-color: white;
  border-width: 1px;
  font-size: 20px;
}

/* header styles */
.hero {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: repeat-x;
  background-position: center;
  object-fit: contain;
}

/* banner styles */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 26px 221px 44px 221px;
}

.banner-content {
  display: flex;
  gap: 32px;
  /* justify-content: center; */
  width: 998px;
  flex-direction: column;
  align-items: center;
}

.banner-title {
  font-size: 48px;
  margin-bottom: 0px;

  font-weight: 800px;
  text-align: center;
}

.banner-profile-picture {
  width: 240px;
}

.banner-description {
  /* height: 16px; */
  font-size: 16px;
  text-align: center;
  font-weight: 400px;
  opacity: 0.7px;
  line-height: 26px;
}

.second-button {
  color: white;
  padding: 21px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  background-color: #0d1321;
  align-items: center;
}

.btn-container {
  text-align: center;
}

.section-header {
  font-size: 32px;
  font-weight: 800;
  /* line-height: 37px; */
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 48px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.card-middle {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  flex-grow: 1;
  padding: 48px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.purpose {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.purpose-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-image {
  width: 259px;
}

.card-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-inline: 10%;
  margin-block: 100px;
}
.developer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 47px;
  padding-right: 47px;
  margin: 48px 0px;
}

.cards-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 32px;
}

.main {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.banner-text-content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

.section-top {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.section-inside-box {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.purpose-description {
  font-size: 16px;
  font-weight: 400px;
  opacity: 0.7px;
  line-height: 26px;
}

.card-button {
  padding: 12px 20px;
  font-weight: 600;
  background-color: transparent;
  border-width: 1px;
  font-size: 20px;
  border: 1px solid #0d1321;
}
.inspiration-title{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}
.inspiration-description{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.inspiration-box{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.inspiration-inside-box{
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.inspiration-section{
  display: flex;
  flex-direction: column;
  padding: 80px;
   margin-inline: 10%;
}
.video{
  border-radius: 16px;
  text-align: center;
}

.target-header{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
}
.target-text{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.target-top{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.target-inside-box{
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.target{
  display: flex;
  flex-direction: column;
  padding: 80px ;
   margin-inline: 10%;
}
.card-container{
  display: flex;
  gap: 24px;
}
.crd-title{
  font-size: 24px;
  font-weight: bolder;
  gap:8px
}
.crd-text{
  font-size: 16px;
  font-weight: 600px;
  gap: 24px;
}
.crd-image{
  width: 56px;
  gap: 24px;
}
.html-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  gap:24px;

}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.top-card{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.css-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap:24px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.js-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap:24px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.link{
  color: black;
  font-size: 16px;
  font-weight: bold;
}